
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #378027;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #85ce08;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
